# ignore all logs
*.log

# compiled output
**\s4b-simplicitycloud.webapi-v800\bin
**\s4b-simplicitycloud.webapi-v800\bin\Debug
**\s4b-simplicitycloud.webapi-v800\Properties\PublishProfiles
**\s4b-simplicitycloud.webapi-v800\obj
.vs/s4b-simplicitycloud.webapi-v800/DesignTimeBuild/
.vs/s4b-simplicitycloud.webapi-v800/v14/
.vs/s4b-simplicitycloud.webapi-v800/v16/
artifacts/
s4b-simplicitycloud.webapi-v800/.config
artifacts\*
s4b-simplicitycloud.webapi-v800/.config/
s4b-simplicitycloud.webapi-v800/Properties/PublishProfiles/
s4b-simplicitycloud.webapi-v800/obj/s4b-simplicitycloud.webapi-v800.csproj.EntityFrameworkCore.targets
s4b-simplicitycloud.webapi-v800/s4b-simplicitycloud.webapi-v800.csproj.user
.vs/s4b-simplicitycloud.webapi-v800/DesignTimeBuild/
**\s4b-simplicitycloud.webapi-v800/s4b-simplicitycloud.webapi-v800.csproj.user
netcoreapp3*.*
**\s4b-simplicitycloud.webapi-v800\obj
*.nuget.*
*project.assets.json
s4b-simplicitycloud.webapi-v800/Configs/DemoMSSQL.xml

s4b-simplicitycloud.webapi-v800/Properties/PublishProfiles/
        s4b-simplicitycloud.webapi-v800/obj/s4b-simplicitycloud.webapi-v800.csproj.EntityFrameworkCore.targets
        s4b-simplicitycloud.webapi-v800/s4b-simplicitycloud.webapi-v800.csproj.user

