<div class="text-center">
    <h1 class="display-4">Thanks for using Rossum Platform!</h1>
    <p>Go back to the application by closing this panel on right side.</p>
</div>
<script type="text/javascript">
    window.parent.postMessage("closePanel", targetOrigin, [transfer]);
    parent.SampleFunction();
</script>
